<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vn.vunganyen.fastdelivery">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".screens.shipper.barcode.ScanBarCodeActivity"
            android:exported="false" />
        <activity
            android:name=".screens.shipper.collection.ShipperCollectionActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.fastdelivery.screens.admin.statistics.barChart.AdminBarChartActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".screens.shipper.map.MapActivity"
            android:exported="false" />
        <activity
            android:name=".screens.shipper.shipperStatistics.ShipperStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.shop.changePassword.ShopChangePwActivity"
            android:exported="false" />
        <activity
            android:name=".screens.shop.homeShop.HomeShopActivity"
            android:exported="false" />
        <activity
            android:name=".screens.shop.profileShop.ProfileShopActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.fastdelivery.screens.shop.registerShop.ShopRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".screens.forgotPassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.statistics.statistics.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.statistics.turnover.TurnoverActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.shopMng.update.UpdateShopMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.warehouseMng.update.UpdateWarehouseActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.warehouseMng.insert.InsertWarehouseActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.warehouseMng.getList.WarehouseMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.shopMng.getList.ShopMngActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.fastdelivery.screens.staff.myProfile.ProfileStSpActivity"
            android:exported="false" />
        <activity
            android:name="vn.vunganyen.fastdelivery.screens.myAccount.AdminMyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.myProfile.AdminMyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".screens.staff.parcelDetail.StaffParcelDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.parcelMng.detailParcelMng.ParcelDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.parcelMng.assignment.AssignmentMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.staffMng.update.UpdateStaffActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.staffMng.insert.InsertStaffActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.staffMng.getList.StaffMngActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.priceList.PriceActivity"
            android:exported="false" />
        <activity
            android:name=".screens.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screens.admin.home.HomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".screens.shipper.home.HomeShipperActivity"
            android:exported="false" />
        <activity
            android:name=".screens.staff.home.HomeStaffActivity"
            android:exported="false" />
        <activity
            android:name=".screens.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>